.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  .text {
    z-index: 3;
  }

  .intro-section {
    background-color: var(--black);
    position: relative;
  }

  .image-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .image {
      position: fixed;
      height: 11rem;
      width: 11rem;
      margin: 1rem;
      background-image: url(../img/cbimage.jpg);
      background-position: center;
      background-size: 100%;
      transform: translateY(-100vh);
      opacity: 0.8;
      animation: roll-around 6s linear infinite;

      &:nth-of-type(1) {
        transform: translateX(2rem) translateY(-12vh);
      }

      &:nth-of-type(2) {
        transform: translateX(2.5rem) translateY(90vh);
      }
      &:nth-of-type(3) {
        transform: translateX(-4rem) translateY(28rem);
      }
      &:nth-of-type(4) {
        transform: translateX(-5rem) translateY(8rem);
      }
      &:nth-of-type(5) {
        transform: translateX(9.5rem) translateY(6.5rem);
      }
      &:nth-of-type(6) {
        transform: translateX(17rem) translateY(38rem);
      }

      &:nth-of-type(7) {
        transform: translateX(20rem) translateY(-2rem);
      }

      &:nth-of-type(8) {
        transform: translateX(18rem) translateY(45vh);
      }
    }
  }
}

// @keyframes roll-around {
//   0% {
//     transform: rotateZ(0deg);
//   }
//   100% {
//     transform: rotateZ(360deg);
//   }
// }

.name-section {
  background: radial-gradient(
    at right,
    var(--light-blue) 0% 20%,
    var(--dark-blue) 70% 100%
  );
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;

  .section-container {
    background-image: url(../img/jc_image_1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: -100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .intro-text {
      margin-bottom: 1rem;
      max-height: fit-content;
    }
  }
}

.about-intro-section {
  z-index: 3;
  position: relative;
  background: radial-gradient(
    circle,
    var(--light-blue) 0% 20%,
    var(--dark-blue) 70% 100%
  );

  .section-container {
    background-image: url(../img/jc_image_2.jpg);
    height: 100%;
    width: 100%;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .about-intro-text {
      height: 22%;
      width: 100%;
      background-color: black;
      color: white;
      align-items: center;
      padding: 2rem;
      font-family: "Montserrat", sans-serif;
    }
  }
}
